@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);












#dropdown-menu-2btn-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1 .navbar-brand a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
}
#dropdown-menu-2btn-1 .nav .link,
#dropdown-menu-2btn-1 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-2btn-1 .navbar,
#dropdown-menu-2btn-1 .dropdown-menu {
  background: #4d4d4d;
}
#dropdown-menu-2btn-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1 .dropdown-menu a:hover,
#dropdown-menu-2btn-1 .dropdown-menu a:focus {
  background: #434343;
}
#dropdown-menu-2btn-1 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1 .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
#header4-2 .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}
#header4-2 H1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
}
#header4-2 I {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#features1-6 .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
#testimonials1-9 .mbr-section__header {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}
#pricing-table1-a SPAN {
  font-size: 72px;
  font-family: 'Roboto Condensed', sans-serif;
}
#pricing-table1-a SUP {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}
#pricing-table1-a .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
#form2-b .mbr-header__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}
#contacts1-e STRONG {
  color: #efefef;
}
#contacts1-e P {
  color: #cccccc;
}




#content5-m .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
}
#content5-m .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-m .mbr-article {
  color: #fff;
}
#content5-m .mbr-article UL {
  text-align: center;
}
#content5-m .mbr-article P {
  text-align: left;
}
#content5-m .mbr-article H2 {
  color: #eb6b56;
  text-align: left;
}
#content5-m .mbr-article H1 {
  color: #eb6b56;
}
#content5-m .mbr-article H3 {
  color: #ffffff;
}
#dropdown-menu-2btn-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-f .navbar-brand a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
}
#dropdown-menu-2btn-f .nav .link,
#dropdown-menu-2btn-f .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-2btn-f .navbar,
#dropdown-menu-2btn-f .dropdown-menu {
  background: #4d4d4d;
}
#dropdown-menu-2btn-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-f .dropdown-menu a:hover,
#dropdown-menu-2btn-f .dropdown-menu a:focus {
  background: #434343;
}
#dropdown-menu-2btn-f .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-f .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
#contacts1-h STRONG {
  color: #efefef;
}
#contacts1-h P {
  color: #cccccc;
}



#msg-box4-r .mbr-header__text {
  color: #ffffff;
}
#msg-box4-r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-r .mbr-article {
  color: #ffffff;
}
#dropdown-menu-2btn-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-n .navbar-brand a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
}
#dropdown-menu-2btn-n .nav .link,
#dropdown-menu-2btn-n .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-2btn-n .navbar,
#dropdown-menu-2btn-n .dropdown-menu {
  background: #4d4d4d;
}
#dropdown-menu-2btn-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-n .dropdown-menu a:hover,
#dropdown-menu-2btn-n .dropdown-menu a:focus {
  background: #434343;
}
#dropdown-menu-2btn-n .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-n .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
#contacts1-p STRONG {
  color: #efefef;
}
#contacts1-p P {
  color: #cccccc;
}




#content5-14 .mbr-header .mbr-header__text {
  text-align: center;
  color: #2b2b2b;
}
#content5-14 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-14 .mbr-article {
  color: #fff;
}
#content5-14 .mbr-article P {
  color: #707070;
}
#pricing-table1-17 SPAN {
  font-size: 72px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-y .navbar-brand a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
}
#dropdown-menu-2btn-y .nav .link,
#dropdown-menu-2btn-y .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-2btn-y .navbar,
#dropdown-menu-2btn-y .dropdown-menu {
  background: #4d4d4d;
}
#dropdown-menu-2btn-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-y .dropdown-menu a:hover,
#dropdown-menu-2btn-y .dropdown-menu a:focus {
  background: #434343;
}
#dropdown-menu-2btn-y .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-y .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
#contacts1-10 STRONG {
  color: #efefef;
}
#contacts1-10 P {
  color: #cccccc;
}




#content5-1n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 100px;
}
#content5-1n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1n .mbr-article {
  color: #fff;
  text-align: center;
  font-size: 36px;
}
#content5-1n .btn {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}
#content5-1n .mbr-article P {
  font-size: 32px;
}
#dropdown-menu-2btn-1k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1k .navbar-brand a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
}
#dropdown-menu-2btn-1k .nav .link,
#dropdown-menu-2btn-1k .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-2btn-1k .navbar,
#dropdown-menu-2btn-1k .dropdown-menu {
  background: #4d4d4d;
}
#dropdown-menu-2btn-1k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1k .dropdown-menu a:hover,
#dropdown-menu-2btn-1k .dropdown-menu a:focus {
  background: #434343;
}
#dropdown-menu-2btn-1k .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1k .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
#contacts1-1m STRONG {
  color: #efefef;
}
#contacts1-1m P {
  color: #cccccc;
}



#content5-1w .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1w .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1w .mbr-article {
  color: #fff;
}
#content5-1w .mbr-article H3 {
  color: #ffffff;
  text-align: left;
}
#content5-1w .mbr-article H4 {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
}
#dropdown-menu-2btn-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1t .navbar-brand a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
}
#dropdown-menu-2btn-1t .nav .link,
#dropdown-menu-2btn-1t .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}
#dropdown-menu-2btn-1t .navbar,
#dropdown-menu-2btn-1t .dropdown-menu {
  background: #4d4d4d;
}
#dropdown-menu-2btn-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1t .dropdown-menu a:hover,
#dropdown-menu-2btn-1t .dropdown-menu a:focus {
  background: #434343;
}
#dropdown-menu-2btn-1t .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-1t .btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
#contacts1-1v STRONG {
  color: #efefef;
}
#contacts1-1v P {
  color: #cccccc;
}
